<div class="categories-container">
  <h2>Liste des Catégories</h2>

  <table class="categories-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th *ngIf="isAuthenticated()">Modifier</th>
        <th *ngIf="isAuthenticated()">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ category.name }}</td>
        <td *ngIf="isAuthenticated()">
          <button class="btn btn-edit" (click)="updateCategory(category)">Modifier</button>
        </td>
        <td *ngIf="isAuthenticated()">
          <button class="btn btn-delete">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
