<header class="header">
  <div class="logo">
    <a href="/accueil">
      <img src="../../../assets/images/frocus.png" alt="Logo Frocus" width="50" height="50"/>
    </a>
  </div>
  <nav>
    <!-- <a routerLink="/accueil">Accueil</a>
    <a routerLink="/article">Article</a>
    <a routerLink="/galerie">Galerie</a>
    <a routerLink="/connexion">Connexion</a>
    <a routerLink="/inscription">Inscription</a> -->
     
    <div class="dropdown">
      <a href="/articles" class="dropbtn">Articles</a>
      <div *ngIf="isAuthenticated()"class="dropdown-content">
        <a href="/articles/creation">Crée un article</a>
      </div>
    </div>
    
    <div class="dropdown">
      <a href="/galerie" class="dropbtn">Galerie</a>
      <div *ngIf="isAuthenticated()"class="dropdown-content">
        <a href="/galerie/creation">Crée une galerie</a>
      </div>
    </div>   

    <div class="dropdown">
      <a href="/categories" class="dropbtn">Catégories</a>
      <div *ngIf="isAuthenticated()" class="dropdown-content">
        <a href="/categories/creation">Crée une catégorie</a>
      </div>
    </div>    
 
    <a *ngIf="!isAuthenticated()" href="/connexion">Connexion</a>
    <!-- <a *ngIf="!isAuthenticated()" href="/inscription">Inscription</a> -->
    <button class="btn btn-delete" *ngIf="isAuthenticated()" (click)="logout()">Déconnexion</button>
  </nav>
</header>
