<header class="header">
  <div class="logo">Frocus - GFX</div>
  <nav>
    <!-- <a routerLink="/accueil">Accueil</a>
    <a routerLink="/article">Article</a>
    <a routerLink="/galerie">Galerie</a>
    <a routerLink="/connexion">Connexion</a>
    <a routerLink="/inscription">Inscription</a> -->
    <a href="/accueil">Accueil</a>
    <a href="/article">Article</a>
    <a href="/galerie">Galerie</a>
    <a href="/connexion">Connexion</a>
    <a href="/inscription">Inscription</a>
  </nav>
</header>
