<header class="header">
  <div class="logo">
    <img src="../../../assets/images/frocus.png" alt="Logo Frocus" width="50" height="50"/>
  </div>
  <nav>
    <!-- <a routerLink="/accueil">Accueil</a>
    <a routerLink="/article">Article</a>
    <a routerLink="/galerie">Galerie</a>
    <a routerLink="/connexion">Connexion</a>
    <a routerLink="/inscription">Inscription</a> -->
    <a href="/accueil">Accueil</a>
    <a href="/categories">Categories</a>
    <a href="/articles">Articles</a>
    <a href="/galerie">Galerie</a>
    <a *ngIf="!isAuthenticated()" href="/connexion">Connexion</a>
    <a *ngIf="!isAuthenticated()" href="/inscription">Inscription</a>
    <button class="btn btn-delete" *ngIf="isAuthenticated()" (click)="logout()">Déconnexion</button>
  </nav>
</header>
