/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */

  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding: 1rem;
  }

  nav {
    display: flex;
    gap: 1.5rem;
    font-family: Arial;
    font-weight: bold;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      transition: color 0.3s;

      &:hover {
        color: #007bff; /* Couleur d'accentuation au survol */
      }
    }

    .btn {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;

      &.btn-delete {
        background: #f44336;
        color: #fff;

        &:hover {
          background: #d32f2f;
        }
      }
    }
  }
}
