/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */

  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding: 1rem;
  }

  nav {
    display: flex;
    gap: 1.5rem;
    font-family: Arial;
    font-weight: bold;
    position: relative;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
      transition: color 0.3s;

      &:hover {
        color: #007bff; /* Couleur d'accentuation au survol */
      }
    }

    /* Styles du menu déroulant */
    .dropdown {
      position: relative;

      .dropbtn {
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        min-width: 160px;
        z-index: 1000;

        a {
          display: block;
          padding: 10px;
          text-align: left;
          color: black;
          font-size: 0.9rem;
          text-decoration: none;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }

      &:hover .dropdown-content {
        display: block; /* Affiche le sous-menu au survol */
      }
    }

    .btn {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;

      &.btn-delete {
        background: #f44336;
        color: #fff;

        &:hover {
          background: #d32f2f;
        }
      }
    }
  }
}
