<form [formGroup]="categoryForm" (ngSubmit)="save()">
    <div>
      <label for="name">Ajouter une catégorie</label>
      <input id="name" formControlName="name" type="text">
      <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
        <small *ngIf="categoryForm.get('name')?.errors?.['required']">Nom requis</small>
        <small *ngIf="categoryForm.get('name')?.errors?.['minlength']">Minimum 3 caractères</small>
      </div>
    </div>
    <button type="submit" [disabled]="categoryForm.invalid">Ajouter</button>
  </form>
  