.home-container {
    font-family: 'Arial', sans-serif;
    color: #333;

    .slider {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 400px;
      
      .slides {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: opacity 1s ease-in-out;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
    
        .slide-title {
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          background: rgba(0, 0, 0, 0.7); // Fond semi-transparent pour lisibilité
          padding: 10px 20px;
          border-radius: 8px;
        }
      }
    }

    .content-section {
      display: flex;
      gap: 20px; /* Espace entre les deux sections */
      margin: 20px 0;
  
      .presentation,
      .reseau,
      .about,
      section {
        flex: 1; /* Les deux sections prennent un espace égal */
        background-color: #fff; /* Fond blanc */
        color: #000; /* Texte noir */
        border-radius: 12px; /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
        padding: 20px; /* Espacement interne */
  
        h1, h2 {
          text-align: center;
          color: #444;
        }

      }
    }
  
    .tools {
      display: flex;
      justify-content: center;
  
      .tool-list {
        display: flex;
        gap: 2rem;
  
        .tool {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          img {
            width: 50px;
            height: 50px;
            margin-bottom: 1rem;
          }
  
          p {
            font-size: 0.9rem;
            font-weight: bold;
          }
        }
      }
    }

    .about{

      .profile {
        display: block;
        margin: 0 auto; // Centre l'image horizontalement
        width: 100px; 
        height: 100px;
        border-radius: 50%; /* Optionnel : pour un effet arrondi */
        transition: transform 0.3s ease-in-out;
        border-radius: 50%;

    
        &:hover {
          transform: scale(1.1); /* Effet de zoom au survol */
        }
      }
      
    }
    

    .reseau{
      .reseau-icons {
        display: flex;
        justify-content: center;
        gap: 15px; /* Espacement entre les icônes */
        margin-top: 10px;
        flex-wrap: wrap; /* Permet aux icônes de passer à la ligne si l'écran est petit */
      }
    
      .icons {
        width: 60px; /* Taille par défaut */
        height: 60px;
        transition: transform 0.3s ease-in-out;
    
        &:hover {
          transform: scale(1.1); /* Effet de zoom au survol */
        }
      }
    }
  
   
    .presentation{

      .logo {
        display: block;
        margin: 0 auto; // Centre l'image horizontalement
        width: 100px; 
        height: 100px;
        border-radius: 50%; /* Optionnel : pour un effet arrondi */
        transition: transform 0.3s ease-in-out;
        border-radius: 50%;
        text-align: center;

    
        &:hover {
          transform: scale(1.1); /* Effet de zoom au survol */
        }
      }
    }
  }
  