<div class="home-container">
    <!-- Slide Section -->
    <div class="slider">
      <div class="slides">
        <img src="../../../assets/images/background.png" alt="Slide 1" />
      </div>
    </div>
    <div class="content-section">
      <section class="presentation">
        <h1>Qu'est ce que c'est Frocus ? </h1>
        <img src="../../../assets/images/logo.png" class="logo"/>
        <p>
          À l’origine, Frocus était simplement un pseudo utilisé pour les jeux vidéo. Aujourd’hui, 
          il devient bien plus : une application de gestion d’articles que j’ai développée pour partager des informations, 
          présenter mes projets et documenter mes rencontres avec mes clients. 
          </p>
          <p>
            Frocus me permet de centraliser et d’organiser mon contenu de manière efficace. Grâce à cette plateforme, 
            je peux publier mes expériences, mettre en avant mes créations, suivre l’évolution de mes collaborations professionnelles
            et partager diverses actualités.
        </p>
        <p>
          Cette application est en constante évolution.
          <br>Mon objectif est d’en faire un outil polyvalent, parfaitement adapté à mon propre usage et à mes besoins quotidiens.
        </p>
      </section>
      <section class="about">
        <h2>À propos de moi</h2>
        <img class="profile" src="../../../assets/images/KL.jpg" alt="KL"/>
        <p>
          Je m'appelle Kevin Lokoka, et je suis un développeur d'application web passionné. 
          <br> Bien que je sois encore junior dans ce domaine, j'ai déjà acquis une expérience précieuse, tant dans le cadre de mes projets professionnels que personnels. 
          <br>Mon but est de créer des solutions web simples, efficaces et adaptées aux besoins spécifiques de chaque projet.
        </p>
        <p>
          Toujours en quête d'apprentissage et d'amélioration, 
          je me tiens constamment informé des dernières tendances et technologies afin de proposer des produits de qualité et en phase avec les évolutions du secteur.        
        </p>
        <p>
        Mon objectif est de grandir en tant que professionnel tout en offrant des solutions qui répondent aux attentes et aux défis uniques de chaque projet.
        </p>
      </section>
    </div>

    <div class="content-section">


    <section class="reseau">
      <h2>Réseaux sociaux</h2>
      <div class="reseau-icons">
      <a href="https://www.linkedin.com/in/kevin-lokoka/">
        <img class="icons" src="../../../assets/images/linkdin.png" alt="LinkedIn" />
      </a>
      <a href="https://www.youtube.com/@FrocusX">
        <img class="icons" src="../../../assets/images/youtube.png" alt="Youtube"/>
      </a>
      <a href="https://x.com/FrocusX">
        <img class="icons" src="../../../assets/images/Twitter.png" alt="Twitter" />
      </a>
      </div>
    </section>

    <section class="reseau">
      <h2>Services</h2>
      <div class="reseau-icons">
      <a href="https://fr.fiverr.com/s/m5BKGd7">
        <img class="icons" src="../../../assets/images/fiverr.jpg" alt="Fiverr" />
      </a>
      <a href="https://www.malt.fr/profile/kevinlokoka">
        <img class="icons" src="../../../assets/images/malt.png" alt="Malt"/>
      </a>
      </div>
    </section>
  </div>

  </div>
  